.DS_Store
/**/nbproject
/**/build
/HelloJavaEE/HelloJavaEE-ejb/dist/
/HelloJavaEE/HelloJavaEE-war/dist/
/HelloJavaEE/dist/
/Ex13/Ex13-ejb/dist/
/Ex13/Ex13-war/dist/
/Ex13/dist/
/Ex13b/dist/
/Ex13b/Ex13b-ejb/dist/
/Ex13b/Ex13b-war/dist/